
:root {
            --i: 1;
        }

        .circle {
    position: absolute;
    background: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border-radius: 40%;
    border: 3px solid rgb(0, 255, 76);
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(50px);
    animation: animate 2s ease-in-out calc(var(--i) * 0.1s) infinite;
    box-shadow:
        0 0 15px rgb(124, 124, 124),
        inset 0 0 15px rgb(124, 124, 124);
}

@keyframes animate {

    0%,
    100% {
        transform: rotateX(70deg) translateZ(50px) translateY(0);
        filter: hue-rotate(0);
    }

    50% {
        transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
        filter: hue-rotate(360deg);
    }
}